@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
  html {
    @apply text-[#4f4f4f];
  }

  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }

  body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }
}

body {
  scrollbar-width: thin;
  scrollbar-color: #4B5563 #9CA3AF;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #9CA3AF;
}

::-webkit-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 20px;
  border: 2px solid #9CA3AF;
}

@tailwind components;
@tailwind utilities;